
@font-face {
    font-family: 'spoiler';
    src: url('spoilerboldwebfont.eot');
    src: url('spoilerboldwebfont.eot?#iefix') format('embedded-opentype'),
         url('spoilerboldwebfont.woff') format('woff'),
         url('spoilerboldwebfont.ttf') format('truetype'),
         url('spoilerboldwebfont.svg#spoiler') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'spoiler';
    src: url('spoilerregularwebfont.eot');
    src: url('spoilerregularwebfont.eot?#iefix') format('embedded-opentype'),
         url('spoilerregularwebfont.woff') format('woff'),
         url('spoilerregularwebfont.ttf') format('truetype'),
         url('spoilerregularwebfont.svg#spoiler') format('svg');
    font-weight: 400;
    font-style: normal;
}
/*
@font-face {
    font-family: 'spoiler';
    src: url('spoilerblackwebfont.eot');
    src: url('spoilerblackwebfont.eot?#iefix') format('embedded-opentype'),
         url('spoilerblackwebfont.woff') format('woff'),
         url('spoilerblackwebfont.ttf') format('truetype'),
         url('spoilerblackwebfont.svg#spoiler-black') format('svg');
    font-weight: 900;
    font-style: normal;
}
*/
